{% extends 'app_play/base.html' %}
{% load static %}

{% block title %}
Cineplay | Editar Serie
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{edit.as_p}}

                <button type="submit" class="btn btn-primary w-100">Editar Serie</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}